.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #826afb;
    background-color: rgb(27, 77, 94);
}
.contact form{
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}
form h2{
    font-size: 30px;
    text-align: center;
}

form .cinput-box{
    margin-top: 20px;
}
.cinput-box .field{
    width: 100%;
    height: 30px;
    background: transparent;
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}
.cinput-box .field.Message{
    height: 200px;
    resize: none;
}
form button{
    width: 100%;
    height: 55px;
    background: rgb(27, 77, 94);
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}
form button:hover {
    background: rgb(27, 77, 94,0.6);
    color: black;
    font-weight: bold;

}