.contain{
    width: 580px;
    margin: auto;
    margin-top: 30px;
    background: rgb(210, 230, 237,0.6);
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 50px;
    margin-bottom: 15px;
}

.contain hr{
    height: 2px;
    border: none;
    background: #707070;
}

.contain h1{
    font-style: italic;
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-size: 35px;
    padding-top: 2px;
}

.contain h2{
    font-size: 20px;
    margin-top: -20px;
    font-weight: 500;
}

.contain ul{
    margin-left: -30px;
}

.contain ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 19px;
    cursor: pointer;
}

.nextprebtn button{
    margin: auto;
    width: 200px;
    height: 52px;
    background: rgb(16, 142, 184);
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    border-radius: 8px;
    margin-top: -15px;
    border: none;
    cursor: pointer;
}

.contain button{
    margin: auto;
    width: 200px;
    height: 52px;
    background: rgb(16, 142, 184);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    margin-top: -15px;
    cursor: pointer;   
}

.contain .index{
    margin: auto;
    font-size: 18px;
    margin-top: -10px;
}

.contain .correct{
    background: #dffff2;
   border-color: #00d397;
   
}

.contain .wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}